li:hover {
    cursor: pointer;
}
html,body {
    font-family: 'Cairo', sans-serif;
}
span {
    height: 20px;
    width: 20px;
    background-color: #FF0000;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    color: #FFFFFF;
}



/* AUDIO AREA */
ul {
	list-style: none;
}

row #view {
	position: fixed;
}